

<html>

<body>
  <center> <h1> Post Testing </h1> </center>

<body>



<p>
First Name is
<%=currentUser.firstName%>
<br>

Last name is
<%=currentUser.lastName%>
<br>

Email is
<%=currentUser.email%>
<br>

Add Post

<div>
  <form action="/addPost" method="post">
    <input type="text" placeholder="Title" id="PostTitle" name="PostTitle" rows="4" cols="50"><br><br>
    <input type="text" placeholder="Content" id="PostContent" name="PostContent" rows="4" cols="50"><br><br>
    <button type="submit">Submit Post</button>
  </form>
</div>

Delete Post

<div>
  <form action="/deletePost" method="post">
    <input type="text" placeholder="Post ID" id="postID_pre" name="postID_pre" rows="4" cols="50"><br><br>
    <button type="submit">Delete Post</button>
  </form>
</div>

Add Comment

<div>
  <form action="/addComment" method="post">
    <input type="text" placeholder="Post ID" id="replyPost_pre" name="replyPost_pre" rows="4" cols="50"><br><br>
    <input type="text" placeholder="Comment ID" id="replyComment_pre" name="replyComment_pre" rows="4" cols="50"><br><br>
    <input type="text" placeholder="Comment Content" id="commentContent_pre" name="commentContent_pre" rows="4" cols="50"><br><br>
    <button type="submit">Add Comment</button>
  </form>
</div>

<br><br>
These are my posts <br><br>

<% for(var i=currentUser.posts.length-1; i>=0;i--){ %>

  Post <%= i + 1 %> <br>

  Title:<br>
  <%=currentUser.posts[i].title%><br>

  Content:<br>
  <%=currentUser.posts[i].content%><br>

  Date:<br>
  <%=currentUser.posts[i].date%><br>

  Post ID:<br>
  <%=currentUser.posts[i]._id%><br>
  <br><br>

These are the comments
<br><br>

<% for(var j= currentUser.posts[i].comments.length-1; j>=0;j--){ %>
  <%=currentUser.posts[i].comments[j].content%>
  <% } %>





  <br><br>
<% } %>

<br>


</p>
</body>



</html>
